{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center">
    <h1>WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id"></span></h2>
    <form action="" onsubmit="setName(event)">
        <input class="bg-green-300" type="text" id="nameInput" autocomplete="off" placeholder="Enter your name"/>
        <button>Set Name</button>
    </form>
    <form action="" onsubmit="sendMessage(event)">
        <input class="bg-green-300" type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
</div>
<script>
    async function getLastMessages() {
        const url = 'http://localhost:8000/chat/last_messages'
        const response = await fetch(url, {
            method: 'GET'
        })
        return response.json()
    }

    getLastMessages()
        .then(messages => {
            appendMessage("Попередні 5 повідомлень:")
            messages.forEach(msg => {
                appendMessage(msg.message)
            })
            appendMessage("\n Нові повідомлення:")
        })

    function appendMessage(msg) {
        let messages = document.getElementById('messages')
        let message = document.createElement('li')
        let content = document.createTextNode(msg)
        message.appendChild(content)
        messages.appendChild(message)
    }

    let client_id = Date.now()
    document.querySelector("#ws-id").textContent = client_id;
    let ws = new WebSocket(`ws://localhost:8000/chat/ws/${client_id}`);
    ws.onmessage = function (event) {
        appendMessage(event.data)
    };

    function sendMessage(event) {
        let input = document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }

    async function setName(event) {
        event.preventDefault();
        const nameInput = document.getElementById("nameInput");
        const name = nameInput.value;
        const data = {"name": name};
        const response = await fetch('http://localhost:8000/chat/set_name', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            },
        });
        const responseData = await response.json();
        document.querySelector("#ws-id").textContent = responseData.name;
    }
</script>
{% endblock %}